{% extends "base.html" %}
{% block title %} Login Page {% endblock title%}
{% block content %}
    
<div class="container">

    <div class="jumbotron p-2" style="margin-top: 1rem;">
        <p class="lead">

          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Patient:</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" value="{{ Visitdetails.h_hospital_visits }}">
            </div>
          </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Created:</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{ Visitdetails.date_recorded }}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Last Modified:</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{ Visitdetails.last_modified }}">
                </div>
            </div>

            

              <hr class="my-4">
              <div class="badge bg-info text-wrap">
                Detailed Record
              </div>

            <ol class="list-group list-group-numbered">
                {% for p in Recorddetails.pre_existing_conditions.all %}

                <li class="list-group-item" style="background-color: lavender;">{{ p }}</li>
                
                {% endfor %}
            </ol>


            <div class="table-responsive">
                <table class="table align-middle table-bordered">
                  <thead>
                    <tr class="text-primary">
                        <th scope="col">Tests</th>
                        <th scope="col">Diagnosis</th>
                        <th scope="col">Prescriptions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% for vd in Visitdetails.tests.all %}
                      {% if not forloop.last %}, {% endif %}
                      <td>
                        {{ vd }}
                        {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
                      </td>
                      {% endfor %}


                      {% for vd in Visitdetails.diagnosis.all %}
                      {% if not forloop.last %}, {% endif %}
                      <td>
                        {{ vd }}
                        {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
                      </td>
                      {% endfor %}


                      {% for vd in Visitdetails.prescriptions.all %}
                      
                      <td>
                        {{ vd }} 
                        {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
                      </td>
                      {% endfor %}
                      
                    </tr>
                  </tbody>
                </table>
              </div>

              <hr class="my-4">
              <div class="badge bg-info text-wrap">
                Hospital Bill
              </div>

              <div class="table-responsive mw-50">
                <table class="table align-middle table-bordered table-sm">
                  <thead>
                    <tr class="text-primary">
                        <th scope="col">Item</th>
                        <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td >
                        Consultation
                      </td>
                      <td >
                        {{ Visitdetails.bill.consultation }}
                      </td>
                    </tr>
                    <tr>
                      <td >
                        Lab tests
                      </td>
                      <td >
                        {{ Visitdetails.bill.lab_tests }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Medical imaging
                      </td>
                      <td >
                        {{ Visitdetails.bill.medical_imaging }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Medicine
                      </td>
                      <td >
                        {{ Visitdetails.bill.medicine }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Treatment
                      </td>
                      <td >
                        {{ Visitdetails.bill.treatment }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Surgery
                      </td>
                      <td >
                        {{ Visitdetails.bill.surgery }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                       <b> Total </b>
                      </td>
                      <td >
                       <b>{{ Visitdetails.bill}}</b>
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Billed to
                      </td>
                      <td >
                        {{ Visitdetails.bill.billed_to }}
                      </td>
                    </tr>

                    <tr>
                      <td >
                        Paid
                      </td>
                      <td >
                        {% if Visitdetails.bill.paid is True %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </td>
                    </tr>

                    
                  </tbody>
                </table>
              </div>


        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-md" href="{% url 'users-profile' %}" role="button">Edit</a>
        </p>
    </div>


    
</div>

{% endblock content %}